NODE_ENV=production
PORT=5000
JWT_SECRET=b4263a30269ed0a238ea71defc48d0c5828232813a7df043cbdbebb3da569734
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
ADMIN_DISPLAY_NAME=Administrator Desa
STORAGE_PATH=/data

# Isi melalui Reference Variables dari service MySQL Railway.
DB_HOST=${{MySQL.MYSQLHOST}}
DB_PORT=${{MySQL.MYSQLPORT}}
DB_NAME=${{MySQL.MYSQLDATABASE}}
DB_USER=${{MySQL.MYSQLUSER}}
DB_PASSWORD=${{MySQL.MYSQLPASSWORD}}
